body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: black;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.img-div {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: 40px auto 0 auto;  
}

h2, h3 {
    margin-left: 15%;
}

h2 {
    padding-top: 20px;
}

p {
    font-size: 21px;
    width: 70%;
    margin-left: 15%;
    letter-spacing: 1.5px;
    line-height: 150%;
}

.warning {
    margin-top: 35px;
    padding: 25px;
    color: rgb(79, 2, 2);
    background-color: rgb(217, 119, 119);
    border-radius: 15px;
}

.terminal {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(6, 6, 7);
    color: rgb(111, 136, 247);
    border-radius: 10px;
    font-weight: bold;
}

.note {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(118, 245, 198);
    color: rgb(1, 71, 45);
    border-radius: 10px;
}

#argument, #all-directory, .file, #force, #upstream {
    margin-top: 0 !important;
    padding: 3px !important;
    border-radius: 3px;
}

.git {
    color:rgb(241, 125, 214);
}

.file {
    color: rgb(252, 148, 3);
}

#message {
    color:rgb(5, 168, 89);
}

#note-two {
    margin-bottom: 30px;
}

h3 {
    font-size: 25px;
}

img {
    border-style: solid;
    border-color: rgb(130, 131, 133);
    border-width: 3px;
}

.username {
    background-color:rgb(230, 192, 136);
    border-radius: 3px;
    color:rgb(128, 76, 5)
}

