body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(61, 61, 61);
    color: rgb(237, 235, 235);
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.img-div {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 40px;   
}

h2, h3 {
    margin-left: 15%;
}

h2 {
    padding-top: 20px;
}

p {
    width: 70%;
    margin-left: 15%;
    letter-spacing: 1.5px;
}

.warning {
    margin-top: 35px;
    padding: 25px;
    color: rgb(79, 2, 2);
    background-color: rgb(217, 119, 119);
    border-radius: 15px;
}

.terminal {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(209, 198, 245);
    color: rgb(2, 20, 99);
    border-radius: 10px;
    font-weight: bold;
}

.note {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(118, 245, 198);
    color: rgb(1, 71, 45);
    border-radius: 10px;
}

#argument, #all-directory, .file {
    margin-top: 0 !important;
    padding: 3px !important;
    border-radius: 3px;
}

.git {
    color:rgb(227, 20, 179);
}

.file {
    color: rgb(252, 148, 3);
}

#message {
    color:rgb(5, 168, 89);
}


